/* styles.css */

  
  /* Outros estilos para o conteúdo da página, como cores de texto */
  .container {
    color: #fff; /* Cor do texto no conteúdo da página */
  }

  .mt-5 {
    margin-top: 66px !important;
  }
  


  #topo {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Alinha o conteúdo à esquerda */
  }
  
  #topo h1 {
    font-size: 3rem; /* Tamanho da fonte grande */
    text-align: center;
    margin-left: 10%; /* Ajusta o espaço à esquerda */
  }

  .nav-link {
    color: #fff; /* Cor branca */
  }

  .servicos-section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top; /* Ajuste para alinhar no topo */
    color: #fff; /* Cor do texto, se necessário */
    height: 100vh; /* 100% da altura da tela */
    margin-top: 200px; /* Remove a margem superior do elemento h2 */
    background-attachment: fixed; 
  }

  /* Estilos personalizados para a página de registro */
  body {
    background-image: url('../static/registro-background.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
}
.registro-container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    width: 400px;
    margin: 0 auto;
    margin-top: 110px; 
}
.registro-container h2 {
    text-align: center;
}
#registrar-btn {
  background-color: rgba(237, 227, 124, 1.0); 
  color: black;
  border: none; 
  padding: 10px 20px;
  cursor: pointer;
}
#registrar-btn:hover {
  background-color: white; 
  color: BLACK;
}
  /* Estilos personalizados para a página de registro */

#login-btn {
  background-color: rgba(237, 227, 124, 1.0); 
  color: black;
  border: none; 
  padding: 10px 20px;
  cursor: pointer;
}

#login-btn:hover {
  background-color: white; 
  color: BLACK;
}

 
  