<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seu Site Fitness</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/styles.css') }}">
    
</head>
<body>
  <!-- Navbar -->
  {% include 'navbar.html' %}

   <!-- Seção com imagem de fundo -->
   <div style="background-image: url('../static/background-image.png'); background-size: cover; background-repeat: no-repeat; background-attachment: fixed; height: 100vh;">
    <!-- Conteúdo da Página -->
    <div id="topo"></div>
    <div class="container mt-5">
      <h1>Bem-vindo ao Seu Site Fitness</h1>
      <p>Este é um exemplo de site fitness responsivo usando Bootstrap.</p>
    </div>
  </div>

<!-- Seção Servicos -->
<div id="serviços" class="container mt-5">
  <h2>Servicos</h2>
  <p>Esta é a seção Servicos do seu site.</p>
  <a href="#topo" class="btn btn-secondary mt-3">Voltar ao Topo</a>
</div>

<!-- Seção Receitas -->
<div id="receitas" class="container mt-5">
  <h2>Receitas</h2>
  <p>Esta é a seção receitas do seu site.</p>
  <a href="#topo" class="btn btn-secondary mt-3">Voltar ao Topo</a>
</div>

  <!-- Seção Sobre -->
  <div id="sobre" class="container mt-5">
    <h2>Sobre</h2>
    <p>Esta é a seção Sobre do seu site.</p>
    <a href="#topo" class="btn btn-secondary mt-3">Voltar ao Topo</a>
  </div>

  <!-- Seção Contato -->
  <div id="contato" class="container mt-5">
    <h2>Contato</h2>
    <p>Esta é a seção Contato do seu site.</p>
    <a href="#topo" class="btn btn-secondary mt-3">Voltar ao Topo</a>
  </div>

  <!-- Footer -->
  {% include 'footer.html' %}

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      // Seleciona todos os links com o atributo 'data-scroll-to'
      const scrollLinks = document.querySelectorAll('[data-scroll-to]');
  
      // Adiciona um evento de clique a cada link
      scrollLinks.forEach(function(link) {
        link.addEventListener('click', function(e) {
          e.preventDefault();
          const targetId = this.getAttribute('data-scroll-to');
          const targetElement = document.getElementById(targetId);
  
          // Verifica se o elemento de destino existe
          if (targetElement) {
            // Calcula a posição de rolagem até o elemento de destino
            const offsetTop = targetElement.getBoundingClientRect().top + window.scrollY;
            
            // Rola suavemente até o elemento de destino
            window.scrollTo({
              top: offsetTop,
              behavior: 'smooth'
            });
          }
        });
      });
    });
  </script>
</body>
</html>
