<!DOCTYPE html>
<html lang="pt-br">
<head>
<title>FlexiFitness</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="icon" href="{{ url_for('static', filename='../static/favicon.png') }}" type="image/x-icon">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("../static/background-image.png");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("../static/nutricao.png");
  min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("../static/contact.png");
  min-height: 400px;
}

.bgimg-4 {
  background-image: url("../static/servicos.png");
  min-height: 400px;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.w3-bar .w3-button {
  padding: 12px;
}
</style>
</head>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-dark-grey w3-card" id="myNavbar">
    <a href="/" title="Página Inicial">
      <img src="{{ url_for('static', filename='../static/logo.png') }}" alt="logo" width="250" height="50" style="padding-left: 25px;">
    </a>
    <!-- Right-sided navbar links -->
    <div class="w3-right w3-hide-small">
      <a href="#home" class="w3-bar-item w3-button"><i class="fa fa-home"></i>HOME</a>
      <a href="#services" class="w3-bar-item w3-button"><i class="fa fa-user"></i> SERVIÇOS</a>
      <a href="#receitas" class="w3-bar-item w3-button"><i class="fa fa-cutlery"></i> RECEITAS</a>
      <a href="#about" class="w3-bar-item w3-button"><i class="fa fa-info"></i> SOBRE</a>
      <a href="#contact" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> CONTATO</a>
      <div class="w3-dropdown-hover w3-hide-small">
        <button class="w3-padding-large w3-button" title="More">LOGIN  <i class="fa fa-caret-down"></i></button>     
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a href="/login" class="w3-bar-item w3-button">Login</a>
          <a href="/registro" class="w3-bar-item w3-button">Registro</a>
        </div>
      </div>
    </div>

    <!-- Hide right-floated links on small screens and replace them with a menu icon -->
    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>

<!-- Sidebar on small screens when clicking the menu icon -->
<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Fechar ×</a>
  <a href="#services" onclick="w3_close()" class="w3-bar-item w3-button">SERVIÇOS</a>
  <a href="#receitas" onclick="w3_close()" class="w3-bar-item w3-button">RECEITAS</a>
  <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button">SOBRE</a>
  <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button">CONTATO</a>
  <a href="/login" onclick="w3_close()" class="w3-bar-item w3-button">LOGIN</a>
  <a href="/registro" onclick="w3_close()" class="w3-bar-item w3-button">REGISTRO</a>
</nav>

<!-- HEADER WITH IMAGE HEADER WITH IMAGE HEADER WITH IMAGE -->
<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-left w3-text-amber" style="padding:58px">
    <span class="w3-jumbo w3-hide-small" style="padding-left: 15px; font-weight: 200; color: white;">SUA JORNADA PERSONALIZADA</span><br>
    <span class="w3-jumbo w3-hide-small" style="padding-left: 15px; font-weight: 200; color: white;">COMEÇA AQUI!</span><br>
    <span class="w3-xxlarge w3-hide-large w3-hide-medium" style="color: white;">SUA JORNADA PERSONALIZADA</span><br>
    <span class="w3-xxlarge w3-hide-large w3-hide-medium" style="color: white;">COMEÇA AQUI!</span><br>
    <p><a href="#services" class="w3-button w3-yellow w3-padding-large w3-large w3-margin-top  w3-hover-opacity-off">Saiba mais e começe hoje!</a></p>
  </div> 
  <div class="w3-display-bottomleft w3-text-grey w3-large" style="padding:24px 48px">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
</header>

<div class="w3-container w3-row w3-center w3-dark-grey w3-padding-64">
  <div class="w3-center">
    <span class="w3-xlarge">"Desafie seus limites, transforme seu corpo, eleve sua mente. Na Flexifitness, cada movimento é uma conquista, cada suor é uma vitória. Seja flexível em sua jornada, alcance seus objetivos. Seu corpo, sua regra, sua flexibilidade. Vamos além juntos na Flexifitness." - Matheus Duarte, CEO.</span>
  </div>
</div>

<!-- SOBRE Section -->
<div class="w3-container" style="padding: 75px;" id="about">
  <h3 class="w3-center">SOBRE A FLEXI FITNESS</h3>
  <p class="w3-center w3-large">Nossos valores</p>
  <div class="w3-row-padding w3-center" style="margin-top:64px">
    <div class="w3-quarter">
      <i class="fa fa-desktop w3-margin-bottom w3-jumbo w3-center"></i>
      <p class="w3-large">Responsabilidade</p>
      <p>Na Flexi Fitness, levamos a sério o compromisso com a sua saúde e bem-estar. Nossa equipe está dedicada a fornecer programas de treinamento e dietas personalizadas, garantindo que você alcance seus objetivos com segurança e responsabilidade.</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-heart w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Paixão</p>
      <p>A paixão pelo condicionamento físico é o nosso combustível. A Flexi Fitness nasceu do amor pelo fitness e pelo estilo de vida saudável. Estamos empolgados em compartilhar nossa paixão e conhecimento com você, inspirando-o a viver uma vida ativa e vibrante.</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-diamond w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Design</p>
      <p>Nosso design é tão importante quanto sua jornada de fitness. Na Flexi Fitness, a estética se une à funcionalidade. Criamos uma plataforma fácil de usar, com um design elegante e moderno, para que você possa aproveitar ao máximo sua experiência conosco.</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-cog w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Suporte</p>
      <p>Estamos ao seu lado em cada etapa da sua jornada. Na Flexi Fitness, oferecemos suporte contínuo para ajudá-lo a superar desafios, manter a motivação e alcançar seus objetivos. Sua satisfação e sucesso são nossa prioridade máxima, e nossa equipe está sempre disponível para ajudá-lo.</p>
    </div>
  </div>
</div>

<!-- SERVICOS IMAGEM SERVICOS IMAGEM SERVICOS IMAGEM-->
<div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
  <span class="w3-button w3-large w3-black w3-display-topright" title="Close Modal Image"><i class="fa fa-remove"></i></span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
    <img id="img02" class="w3-image" alt="image">
    <p id="caption" class="w3-opacity w3-large"></p>
  </div>
</div>

<!-- Third Parallax Image with Portfolio Text -->
<div class="bgimg-4 w3-display-container w3-opacity-min">
  <div class="w3-display-middle" style="font-weight: 900;">
    <span class="w3-xxxlarge w3-text-white w3-wide style">PACOTES E SERVIÇOS</span>
  </div>
</div>

<!-- SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS -->
<div class="w3-container w3-light-grey" style="padding: 75px 16px;" id="services">
  <div class="w3-row w3-container w3-light-grey" style="margin: 50px 0;">

    <div class="w3-half w3-container">
      <a href="dashboard/treinos" target="_blank" style="text-decoration: none;">
        <div style="border-radius: 30px; overflow: hidden;">
          <img src="../static/treinamento.png" style="width: 100%;" alt="Botão de Treinos">
        </div>
        <h2>TREINAMENTOS</h2>
      </a>
    </div>

    <div class="w3-half w3-container">
      <a href="dashboard/dietas" target="_blank" style="text-decoration: none;">
        <div style="border-radius: 30px; overflow: hidden;">
          <img src="../static/dieta.png" style="width: 100%;" alt="Botão de Dieta">
        </div>
        <h2>DIETAS</h2>
      </a>
    </div>
  </div>
</div>
<!-- RECEITAS IMAGEM RECEITAS IMAGEM RECEITAS IMAGEM-->
<div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
  <span class="w3-button w3-large w3-black w3-display-topright" title="Close Modal Image"><i class="fa fa-remove"></i></span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
    <img id="img02" class="w3-image" alt="image">
    <p id="caption" class="w3-opacity w3-large"></p>
  </div>
</div>

<!-- Third Parallax Image with Portfolio Text -->
<div class="bgimg-2 w3-display-container w3-opacity-min">
  <div class="w3-display-middle" style="font-weight: 900;">
    <span class="w3-xxxlarge w3-text-white w3-wide">RECEITAS</span>
  </div>
</div>

<!-- RECEITAS RECEITAS RECEITAS RECEITAS -->
<div class="w3-container w3-light-grey" style="padding: 75px 16px;" id="receitas">
  <div class="w3-row w3-container w3-light-grey" style="margin: 50px 0;">

    <div class="w3-third w3-container">
      <a href="/dashboard" target="_blank" style="text-decoration: none;">
        <div style="border-radius: 30px; overflow: hidden;">
          <img src="../static/bulking.png" style="width: 100%;" alt="Botão de Treinos">
        </div>
        <h2>RECEITAS PARA BULKING</h2>
        <h1 style="font-size: 1.4em;">O que é bulking?</h1>
        <h1 style="font-size: 1.2em;">- Bulking é uma fase estratégica no mundo do fitness onde o foco é ganhar massa muscular de maneira controlada. Durante o bulking, os praticantes de exercícios físicos aumentam sua ingestão calórica para criar um ambiente propício ao crescimento muscular. Em outras palavras, é como construir a base para um prédio forte!</h1>
      </a>
    </div>

    <div class="w3-third w3-container">
      <a href="/dashboard" target="_blank" style="text-decoration: none;">
        <div style="border-radius: 30px; overflow: hidden;">
          <img src="../static/cutting.png" style="width: 100%;" alt="Botão de Dieta">
        </div>
        <h2>RECEITAS PARA CUTTING</h2>
        <h1 style="font-size: 1.4em;">O que é cutting?</h1>
        <h1 style="font-size: 1.2em;">- Cutting é uma etapa cuidadosamente planejada no universo do fitness, projetada para eliminar gordura corporal enquanto preserva a massa muscular conquistada com tanto esforço. Durante essa fase, o objetivo principal é alcançar definição e contornos musculares, revelando o resultado do trabalho árduo realizado durante o bulking.</h1>
      </a>
    </div>

    <div class="w3-third w3-container">
      <a href="/dashboard" target="_blank" style="text-decoration: none;">
        <div style="border-radius: 30px; overflow: hidden;">
          <img src="../static/receitas-fit.png" style="width: 100%;" alt="Botão 3">
        </div>
        <h2>RECEITAS SAUDÁVEIS</h2>
        <h1 style="font-size: 1.4em;">O que você encontrará?</h1>
        <h1 style="font-size: 1.2em;">- A seção de "Receitas Saudáveis" do nosso site, é onde você encontrará uma variedade incrível de pratos deliciosos e nutritivos para impulsionar a sua jornada de bem-estar. Navegue por um tesouro de opções gastronômicas cuidadosamente selecionadas, projetadas para equilibrar sabor e nutrição.</h1>
      </a>
    </div>
  </div>
</div>

<!-- Modal for full size images on click-->
<div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
  <span class="w3-button w3-xxlarge w3-black w3-padding-large w3-display-topright" title="Close Modal Image">×</span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
    <img id="img01" class="w3-image" alt="image">
    <p id="caption" class="w3-opacity w3-large"></p>
  </div>
</div>
<!-- Modal for full size images on click-->
<div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
  <span class="w3-button w3-large w3-black w3-display-topright" title="Close Modal Image"><i class="fa fa-remove"></i></span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
    <img id="img01" class="w3-image" alt="image">
    <p id="caption" class="w3-opacity w3-large"></p>
  </div>
</div>

<!-- Third Parallax Image with Portfolio Text -->
<div class="bgimg-3 w3-display-container w3-opacity-min">
  <div class="w3-display-middle" style="font-weight: 900;">
    <span class="w3-xxxlarge w3-text-white w3-wide">ENTRE EM CONTATO!</span>
    <p class="w3-xlarge w3-center w3-large w3-text-white">Vamos conversar, tire suas dúvidas:</p>
  </div>
</div>

<!-- Contact Section -->
<div class="w3-container w3-light-grey" style="padding: 18px 16px; text-align: center;" id="contact">
  <p><i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i> Santa Catarina, Brasil</p>
  <p><i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right"></i> Telefone: 47 99999-9999</p>
  <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i> E-mail: contato@flexifitness.com</p>
  <br>
  <div class="container">
      <form action="/action_page.php" target="_blank">
          <div class="form-group row">
              <div class="col-md-6 mx-auto">
                  <input class="w3-input w3-border form-control rounded" type="text" placeholder="Nome" required name="Nome">
              </div>
          </div>
          <div class="form-group row">
              <div class="col-md-6 mx-auto">
                  <input class="w3-input w3-border form-control rounded" type="email" placeholder="Email" required name="Email">
              </div>
          </div>
          <div class="form-group row">
              <div class="col-md-6 mx-auto">
                  <input class="w3-input w3-border form-control rounded" type="text" placeholder="Assunto" required name="Assunto">
              </div>
          </div>
          <div class="form-group row">
              <div class="col-md-6 mx-auto">
                  <textarea class="w3-input w3-border form-control rounded" rows="4" placeholder="Mensagem" required name="Mensagem"></textarea><br>
              </div>
          </div>
          <div class="form-group row">
              <div class="col-md-6 mx-auto">
                  <button class="w3-button w3-black btn btn-primary" type="submit">
                      <i class="fa fa-paper-plane"></i> ENVIAR MENSAGEM
                  </button>
              </div>
          </div>
      </form>
  </div>
</div>



<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64">
  <div class="w3-xlarge w3-section">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
    <p class="w3-center w3-large">Flexi Fitness 2023. Todos os direitos reservados. <a href="/termos-de-servico">Termos de Serviço</a></p>
  </div>
</footer>

<script>
// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}


// Toggle between showing and hiding the sidebar when clicking the menu icon
var mySidebar = document.getElementById("mySidebar");

function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
  } else {
    mySidebar.style.display = 'block';
  }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
}
</script>
</body>
</html>