<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Termos de Serviço</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="{{ url_for('static', filename='../static/favicon.png') }}" type="image/x-icon">
    <style>
        body {
            background-color: #f4f4f4;
            font-family: "Raleway", sans-serif;
            overflow: hidden;
        }
        .container {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            margin-top: 30px;
        }
        h1 {
            text-align: center;
            margin-bottom: 30px;
            font-family: "Raleway", sans-serif;
        }
        .info-card {
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 20px;
            margin: 10px;
            text-align: center;
        }
        .logout-btn {
            float: right;
            margin-top: 10px;
        }
        .terms-text {
            padding: 20px;
            text-align: justify;
        }
        .w3-bar .w3-button {
            padding: 14px;
            text-decoration: none; /* Remove o sublinhado dos links */
        }
    </style>
</head>
<body>
    <div class="w3-top">
        <div class="w3-bar w3-dark-grey w3-card" id="myNavbar">
            <a href="/" title="Página Inicial">
                <img src="{{ url_for('static', filename='../static/logo.png') }}" alt="logo" width="250" height="50" style="padding-left: 25px;">
            </a>
            <div class="w3-right w3-hide-small">
                <a href="/" class="w3-bar-item w3-button"><i class="fa fa-home"></i>HOME</a>
                <a href="/dashboard/treinos" class="w3-bar-item w3-button"><i class="fa fa-user"></i> TREINOS</a>
                <a href="/dashboard/dietas" class="w3-bar-item w3-button"><i class="fa fa-cutlery"></i> DIETAS</a>
                <a href="/dashboard/receitas" class="w3-bar-item w3-button"><i class="fa fa-book"></i> RECEITAS</a>
                <a href="#contact" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> SUPORTE</a>
            </div>
        </div>
    </div>

    <div class="container">
        <h1>Termos de Serviço</h1>

        <div class="info-card">
            <!-- Espaço para o texto dos Termos de Serviço -->
            <div class="terms-text">
                <p>Bem-vindo(a) aos Termos de Uso da Plataforma da FlexiFitness! Antes de usar nossos serviços, pedimos que você leia atentamente este documento. Aqui, descreveremos nossas políticas e diretrizes relacionadas ao uso de nossa plataforma, incluindo informações importantes sobre dietas, treinos e receitas.<br> Ao acessar ou utilizar nossos serviços, você concorda em cumprir estes termos e todas as políticas incorporadas a eles.<br><br>

                    1. Dietas Personalizadas<br>
                    
                    A FlexiFitness oferece dietas personalizadas com base em suas necessidades individuais de saúde e condicionamento físico. No entanto, é importante lembrar que nossa plataforma fornece apenas informações gerais e não substitui o aconselhamento médico profissional. Recomendamos que você consulte um profissional de saúde antes de iniciar qualquer dieta ou programa de alimentação.<br><br>
                    
                    2. Treinos e Exercícios<br>
                    
                    Nossa plataforma oferece recursos relacionados a treinos e exercícios físicos. Ao utilizar esses recursos, você concorda em fazê-lo com responsabilidade e considerando suas próprias limitações físicas. Os treinos sugeridos são para fins informativos e não substituem a orientação de um treinador pessoal qualificado. Certifique-se de estar apto(a) para realizar qualquer exercício antes de começar.<br><br>
                    
                    3. Receitas Saudáveis<br>
                    
                    A FlexiFitness disponibiliza receitas saudáveis e equilibradas para auxiliar em seus objetivos de condicionamento físico. É importante observar que as informações nutricionais fornecidas são estimativas e podem variar dependendo dos ingredientes utilizados. Consulte um nutricionista ou profissional de saúde para obter orientações personalizadas sobre sua dieta.<br><br>
                    
                    4. Responsabilidade do Usuário<br>
                    
                    Você é responsável por todas as informações e conteúdo que compartilha em nossa plataforma, incluindo comentários, avaliações e interações com outros usuários. Não toleramos condutas inadequadas, ofensivas ou ilegais, e reservamo-nos o direito de remover conteúdo e tomar medidas apropriadas contra usuários que violem nossas diretrizes.<br><br>
                    
                    5. Privacidade e Segurança<br>
                    
                    Levamos sua privacidade e segurança a sério. Ao utilizar nossa plataforma, você concorda com nossa Política de Privacidade, que descreve como coletamos, usamos e protegemos suas informações pessoais.<br><br>
                    
                    6. Alterações nos Termos de Uso<br>
                    
                    Podemos atualizar estes Termos de Uso periodicamente para refletir mudanças em nossos serviços ou regulamentações aplicáveis. Sempre que fizermos alterações significativas, notificaremos os usuários de forma apropriada. Ao continuar usando nossos serviços após tais alterações, você concorda com os termos revisados.<br><br>
                    
                    7. Contate-nos<br>
                    
                    Se tiver alguma dúvida, preocupação ou feedback sobre nossos Termos de Uso, entre em contato conosco e teremos prazer em ajudar.
                    
                    Agradecemos por escolher a FlexiFitness como sua plataforma de bem-estar e fitness. Estamos comprometidos em fornecer recursos de qualidade para ajudá-lo a atingir seus objetivos de saúde e condicionamento físico de forma responsável e informada.
                    
                    Estes Termos de Uso foram atualizados pela última vez em [inserir data da última atualização].</p><br>
            </div>
        </div>
    </div>
</body>
</html>
